<div class="container" *ngIf="this.matchdata.round <= gameserv.maxrounds">
  <div class="users row">
    <div class="col-4 col-md-3 col-lg-2" *ngFor="let user of matchdata.users"><strong
      [ngStyle]="{'font-weight': 'bold', 'color': user.color}">{{user.name}}</strong>({{user.points}})
    </div>
  </div>
  <div class="row">
    <div class="pokemon col-12 col-md-5 text-center">
      <div class="badge badge-pill orange d-block">Ronda: {{matchdata.round}}/{{gameserv.maxrounds}}</div>
      <img class="poke" [ngClass]="{'guess': pokemonfound.pokemon !== matchdata.pokemonid}"
           src="assets/sprites/pokemon/{{matchdata.pokemonid}}.png"/>
      <div class="badge badge-pill orange text-uppercase d-block display-3"
           *ngIf="pokemonfound.pokemon === matchdata.pokemonid && matchdata.pokemonid !== 0">
        {{gameserv.getPokeName(matchdata.pokemonid)}}
      </div>
    </div>
    <div class="chat col-12 col-md-7">
      <div id="messages" class="messages scrollbar scrollbar-juicy-peach mb-3">
        <div *ngFor="let data of messages" class="message py-0"><strong
          [ngStyle]="{'font-weight': 'bold', 'color': data.user.color}">{{data.user.name}}</strong>: <span
          [innerHTML]="data.message"></span>
        </div>
      </div>

      <div class="pl-2">
        <div class="md-form">
        <textarea type="text" id="msg-area" class="md-textarea" maxlength="{{gameserv.messagelength}}"
                  [(ngModel)]="message" (keyup.control.enter)="sendMessage()"></textarea>
          <label for="msg-area">Mensaje</label>
          <span class="character-counter" style="float: right; font-size: 12px; height: 1px;">
            {{message.length}}/{{gameserv.messagelength}}
          </span>
        </div>
        <button type="button" class="btn peach-gradient btn-block m-0 waves-effect waves-light" (click)="sendMessage()">
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4 mx-auto card card-cascade wider" *ngIf="matchdata.round > gameserv.maxrounds">
  <div class="view gradient-card-header peach-gradient">
    <h2 class="h2-responsive mb-2">Ranking de Usuarios</h2>
    <p class="">Ronda: {{matchdata.round}}</p>
  </div>
  <div class="card-body text-center">
    <ol class="card-text col-10 col-offset-1 mr-2 ml-2">
      <li *ngFor="let user of matchdata.users | order"><strong
        [ngStyle]="{'font-weight': 'bold', 'color': user.color}">{{user.name}}</strong>({{user.points}})
      </li>
    </ol>

    <button type="button" class="btn btn-secondary" (click)="leave()">Salir</button>
    <button type="button" class="btn btn-secondary" (click)="gameserv.restartRoom()">Jugar de
      Nuevo
    </button>
  </div>
</div>
