.avatar img {
  width: 100%;
}

.messages {
  height: 300px;
}

.messages .message {
  word-break: break-all;
}

.user img {
  width: 12%;
}

.colorpicker-component .input-group-addon {
  position: absolute;
  right: 0;
  top: 50%;
  background-color: transparent;
}
